<p id="notice"><%= notice %></p>

<p>
  <b>Rollnumber:</b>
  <%= @secondpage.rollnumber %>
</p>

<p>
  <b>Classname:</b>
  <%= @secondpage.classname %>
</p>




<%= link_to 'Edit', edit_secondpage_path(@secondpage) %> |
<%= link_to 'Back', secondpages_path %>
